{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="center">
        <h3>Enter Your Details</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-25">
            {{field.label}} {% if field.field.required %} * {% endif %}
            </div>
            <div class="col-75">
            {{field}}
            {{field.errors}}
            </div>
        </div>
        {% endfor %}
            <br>
            <div class="row">
                <button type="submit">Confirm Order</button>
            </div>
            </form>
          </div>
          <br>
{% endblock %}