{% extends 'base.html' %}
{% block title %}
    {{ book.name }}<!-- the page title goes here --> 
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/P_literature.svg", padding="5%", class="card-img-top" alt="placeholder image">
        <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-title">Written by {{ book.author }}</h6>
        <h6 class="card-title">{{ book.year }}</h6>
        <p class="card-text">Genre is {{ book.category }}</p>
        <p class="card-text">{{ book.synopsis }}</p>
        <p class="card-text">{{ book.price }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

{% endblock %}